.zen-control{
	border: 0;
	border-radius: 0;
}

.zen-control .label{
	text-align: left;	
}


body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	text-align: left;	   
}

#BublApp{
	background-color: white;
}

.zen-control h1{
	font-size: 180%;
}

.zen-control h2{
	font-size: 130%;
}

.zen-control .label{
	margin-left: 10px;
}

button{
	text-align: center;
	vertical-align: middle;
}

#palette{
	border-right: solid 1px #aaa;
	top: 2px;
}

.paletteItem{
	border-bottom: 1px solid #aaa;
	width: 100%;
	padding: 4px;
	color: #666;
}

.paletteItem * {
	padding-left: 6px;
}

#properties{
	border-left: solid 1px #aaa;
}

.icon{
	margin: auto;
	color: #94C2C9;
}

.statusbar{
	border-top: solid 1px #aaa;
}

p{
	margin: 0px 0px 0px 10px;
}

#help, #help *{
	cursor: pointer;
}

#toolbar{
	border-bottom: solid 1px #aaa;
	border-top: solid 1px #aaa;
}

#toolbar *{
	margin-top: 2px;	
}

.iconLabel, .iconLabel *{
	cursor: pointer;
}

.iconLabel *{
	vertical-align: middle;
	margin-left: 6px;
}

.thumbnailMI.highlight .back {
                opacity: 1;
}

.thumbnailMI .back{
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
        opacity: 0;
}

.thumbnailMI  .front{
	width:100%;
	height:100%;
}
.thumbnailMI  .back{
	width:100%;
	height:100%;
}
.thumbnailMI  div.back,
.thumbnailMI  div.front {
	top: 0;
  	position:absolute;
  	left:0;
}

.thumbnailMI{
	border: solid 4px white;
}

.thumbnailMI h3{
	font-size: 120%;
	margin: 10px;	
}

.thumbnailMI .controls{
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 2px 3px 2px 3px;
}

.thumbnailMI .controls *{
	margin-left: 5px;
	margin-right: 5px;
}

.thumbnailMI .control{
	display:block;
	float: left;
	margin: 0;
	padding: 0;
	height: 100%;
}

.thumbnailMI span{
	margin-left: 2px;
}

.jsonEditor{
	font-family: Courier New, Courier, monospace;
}

.uploader{
	/*
	position: relative;
	top:10px;
	right:10px;
	bottom:10px;
	left:10px;
	border: dashed 1px #666;
	*/
	background-color: #ddd;
}

.uploader span{
	padding: 10px;
	display: block;
}
.uploader .progress{
	height: 20px;
	width: 100%;
	border: solid 1px white;
	/*margin: 10px;*/
}

